.about{
    height: 170px;
    margin-left: 30px;
    margin-top: 40px;
}
.rightAbout{
    float:right;
    width: 80%;
    margin-top: -70px;
}
.resumeButton{
    margin-top: 20px;
    background-color: rgb(41, 40, 40);
    color: white
}
